/**
* Privacy Policy Component Styles
**/

.p-policy {
	word-wrap: break-word;
	font-size: clamp(0.8rem, 5vw, 1rem);
	margin-block: 1rem;
	h1 {
		margin-block: 1.2rem;
		margin-inline: 1rem;
		font-size: 1.5em;
		text-align: center;
		font-weight: var(--fw-primary-black);
		&:first-of-type {
			margin-block-start: 1rem;
		}
	}
	h2,
	h3 {
		font-weight: var(--fw-primary-bold);
	}
	h2 {
		font-size: 1.2em;
	}
	h3 {
		font-size: 1.1em;
		text-decoration: underline;
		text-align: center;
	}
	h2,
	h3,
	p,
	ul {
		margin: 1rem;
	}
	p,
	li {
		text-transform: none;
	}
	li {
		margin-block: 1em;
	}
	a {
		word-wrap: break-word;
		text-decoration: underline;
	}
	grid-template-columns: 1fr 85% 1fr;
	&__container {
		grid-column: 2/3;
		grid-row: 2/3;
		block-size: min(80vw, 30rem);
		min-block-size: 27rem;
		border-radius: var(--br-400);
		overflow: auto;
	}
}

.p-policy__section--attribution {
	h1 {
		border-block-start: 3px dotted;
		padding-block-start: 2rem;
	}
}

@media (min-width: 40rem) {
	.p-policy {
		grid-template-columns: 1fr min(80vw, 45rem) 1fr;
		&__container {
			min-block-size: min(70vw, 30rem);
		}
	}
}
