/**
* Color Classes
**/

/* text clr */
.txt-black {
	color: var(--clr-black);
}
.txt-white {
	color: var(--clr-white);
}

/* background clr */
.bg-black {
	background-color: var(--clr-black);
}
.bg-blue {
	background-color: var(--clr-blue);
}
.bg-brown-light {
	background-color: var(--clr-brown-light);
}
.bg-brown-dark {
	background-color: var(--clr-brown-dark);
}
.bg-gray {
	background-color: var(--clr-gray);
}
.bg-green {
	background-color: var(--clr-green);
}
.bg-indigo-400 {
	background-color: var(--clr-indigo-400);
}
.bg-indigo-600 {
	background-color: var(--clr-indigo-600);
}
.bg-red-400 {
	background-color: var(--clr-red-400);
}
.bg-red-500 {
	background-color: var(--clr-red-500);
}
.bg-red-600 {
	background-color: var(--clr-red-600);
}
.bg-white {
	background-color: var(--clr-white);
}
