/**
* Spacing Classes
**/

/* padding */
.pd-100 {
	padding: var(--padding-100);
}
.pd-200 {
	padding: var(--padding-200);
}
.pd-300 {
	padding: var(--padding-300);
}
.pd-400 {
	padding: var(--padding-400);
}
.pd-500 {
	padding: var(--padding-500);
}
.pd-600 {
	padding: var(--padding-600);
}
.pd-700 {
	padding: var(--padding-700);
}
.pd-800 {
	padding: var(--padding-800);
}
.pd-900 {
	padding: var(--padding-900);
}
.pd-xl {
	padding: var(--padding-xl);
}
